@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Figtree:wght@300;400 & display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:#023535;
    --cor1:#015958;
    --cor2:#008F8C;
    --cor3:#0CABA8;
    --cor4:#0FC2C0;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-titulo: 'Figtree', sans-serif;
}


header {
    background-color: white;
    padding: 7px 0px 7px 7px;
}
header a {
    text-decoration: none;
    background-color: rgba(238, 232, 170, 0.699);
    color: black;
    box-shadow: 0px 0px 5px 2px #00000019;
    border-radius: 7px 7px;
    padding: 2px 6px 2px 6px;
    font-size: 1.3em;
}
header a:hover {
    color: red;
}
header a::before {
    content: '\1F4DE\00A0';
}






section {
    background-color: #00020D;
    color: white;
}
section.comeco {
    background-color: #000000; 
    text-align: center; 
    }

section.comeco #inicio h1 {
    font-size: 2.8em;
    padding: 105px 0px 5px;
}

article > #inicioplano {
    font-size: 1.3em;
    padding: 28px 0px;
    padding-bottom: 10px;
}






main #favoritos {
    padding: 82px 0px 0px 0px;
    text-align: center;

}



section ul {
    font-size: 1.3em;
    padding: 10px 0px 24px 0px;
    margin: 0px 8px;
}

section a {
    color: #000000;
    padding: 9px 12px;
    font-weight: bolder;
    font-size: 1.6em;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #00020d2b;
}

section a:hover {
    color: var(--cor0);
}




div#valor {
    font-size: 2.7em;
    padding: 0px 0px 40px 0px;
    color: var(--cor4);
}





article.dispositivo {
    padding: 10px 10px;
    display: inline-block;
    max-width: 304px;
    text-align: center;
}

article.dispositivo > h3 {
    margin: 20px 0px 10px 0px;
    text-align: center;
}

article.dispositivo > p {
    margin: 19px 0px;
    padding: 0px 0px;
    text-align: center;
}

#corplanos {
    padding: 10px 10px;
    
}

#corplanos > h2 {
    text-align: center;
    background-image: linear-gradient(to right,black, var(--cor0),var(--cor1), var(--cor2));
    box-shadow:inset -4px -1px 8px 6px #000000ba;;
    color: white;
    font-size: 1.9em;
    padding: 4px 0px;
    margin: 8px -10px;
    font-weight: bold;
}

.planos {
    display: inline-block;
    max-width: 359px;
    min-height: 200px;
    margin: 17px 19px;
    padding: 8px 2px 23px 8px;
    
}

.planos > h3 {
    font-size: 1.6em;  
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin: 6px 0px;
}

.planos > p {
    text-align: center;
    padding: 0px 0px 13px 0px;
}


article ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    text-align: left;
    font-size: 0.9em;
}

article ul > li {
    padding-bottom: 15px;
}

article.planos {
    background-image: linear-gradient(to right, var(--cor0), var(--cor3));
    border-radius: 15px 15px;
    box-shadow: inset -3px -3px 4px 2px rgb(0 0 0 / 16%);
   
    
}



article > #teste {
    background-image: linear-gradient(to right, var(--cor0), var(--cor4));
    color: black;
    padding: 2px 4px;
    margin: 0px 0px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: inset 2px 4px 7px 1px #00000082;
    font-size: 1.4em;
}

article > #teste:hover {
    color: var(--cor0);
}

strong {
    font-size: 1.8em;
    color: black;
    font-weight: bolder;
    padding: 5px 8px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #00020d17;
}
